{% if products %}
    <div class="cart-list">
        {% for product in products %}
            <div class="cart-list-item">
                <div class="cart-item-wrap">
                    <div class="cart-good">
                        {{ product.title }}
                    </div>
                    <div class="cart-count">
                        <div class="input-number">
                            <form method='post' action="#" class="cart-form">
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                <input class="calc-btn btn minus" type='submit' name='decGood' value='&ndash;'>
                            </form>
                            <div class="cart-quantity">
                                {{ product.count }}
                            </div>
                            <form method='post' action="#" class="cart-form">
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                <input class="calc-btn btn plus" type='submit' name='incGood' value='+'>
                            </form>
                        </div>
                    </div>
                    <div class="cart-price">
                        <span>{{ product.price * product.count }} руб.</span>
                        <form method='post' action="#" class="cart-form">
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input class="cart-delete" type='submit' name='delGood' value='Удалить'>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="cart-order-wrap">
        <div class="total line">
            <span>Итого</span><span>{{ totalPrice }} руб.</span>
        </div>
        <div class="totalcount line">
            <span>Товары,</span><span>{{ totalCount }} шт.</span>
        </div>
        <form action="#" method="post">
            <hr>
            <p><b>Способ оплаты:</b></p>
            <p><input name="paymethod" type="radio" value="cash"> Наличными при получении</p>
            <p><input name="paymethod" type="radio" value="epay"> Банковской картой онлайн</p>
            {#            <hr>#}
            {#            <p><b>Способ доставки:</b></p>#}
            {#            <p><input name="deliverymethod" type="radio" value="post"> Почта России</p>#}
            {#            <p><input name="deliverymethod" type="radio" value="courier"> Курьер</p>#}
            {#            <p><input name="deliverymethod" type="radio" value="pickup"> Самовывоз</p>#}
            <p><b>Адрес доставки:</b></p>
            <input type="text" class="form-control" name="adr" id="adr" placeholder="Адрес доставки">
            <input class="toorder-btn btn" type='submit' name='toOrder' value='Оформить заказ'>
            {#            <p><input type="submit" value="Выбрать"></p>#}
        </form>
        <div class="btn-wrap">
            {#            <a class="toorder-btn btn" href="index.php?c=page&act=toorder">Перейти к оформлению</a>#}
            {#            <form method='post' action="#" class="cart-form">#}
            {#                <input class="toorder-btn btn" type='submit' name='toOrder' value='Оформить заказ'>#}
            {#            </form>#}
            <form method='post' action="#" class="cart-form">
                <input class="btn clear" type='submit' name='clearCart' value='Очистить корзину'>
            </form>
        </div>
    </div>
{% else %}
    <p>Ваша корзина пуста.</p>
{% endif %}